*{
    margin : 0px;
    padding: 0px;
    box-sizing : border-box;
}


header, nav, section, article, aside, footer {
   
    background-color : burlywood;
    display : block;
    margin: 3px;

}

header{
    height : 100px;
    background-color: red;
    /* width : 100%; 블록레벨 태그는 자동으로 옆으로 채우는 성격이 있어서 width */
}

nav{
    background-color: yellow;
    width:80%;
    height:100px;
    margin: 0px auto;   
    padding-top : 20px;
}

#topmenu{
    list-style : none;
    display:flex;
    background-color:skyblue;
    


}

#topmenu li {
    background-color : aqua;
    margin : 0px auto;
    width : 100px;
    position : relative;
}

#topmenu > li:hover > ul{
    display : block;
    list-style: none;
}

#topmenu > li > ul{
    position : absolute;
    display : none;
}

div{
    display:flex;
    height:700px;
}

section{
    width:80%;
    float:left;

}

article{
    background-color : beige;

}

aside{
    width: 20%;
}




footer{
    height:100px;
}

